* {
    box-sizing: border-box;
    margin: 0;
    background-color: #697c9b
    /*background-color: rgba(0,0,0,0.1);*/
  }
  .wrapper {
    display: grid;
    grid-template-rows: 200px repeat(auto-fill, 100px) 300px;
    width: 100vw;
    grid-gap: .5em;
    padding: 5px;
  }
  .container {
    display: grid;
    /*background: lightgrey;*/
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .5em;
    height: 380px
  }
  .container-one {
    display: grid;
    /*background: lightgrey;*/
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .5em;
    height: 200px;
  }
  .box {
    display: grid;
    /*background: grey;*/
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .5em;
  }
  .themes{
    padding-top: 50px;
    font-size: 19pt;
    font-family: 'Cabin Sketch', cursive;
    width: 200px;
  }
  .theme-choice{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .5em;
    padding: 1px;
    width: 650px;
    margin: auto;
  }
  #himym{
    font-family: 'Titillium Web', sans-serif;
    font-size: 16pt;
    text-shadow:1px 2px 3px #666;
  }
  #office{
    font-family: 'Inconsolata', monospace;
    font-size: 20pt;
    width: 165px;
    text-shadow: 1px 2px 3px #666;
  }
  #friends{
    font-family: 'Covered By Your Grace', cursive;
    font-size: 15pt;
    width: 300px;
    text-shadow: 1px 2px 3px #666;
  }
  .full-width{
    grid-column: 1 / -1;
    clear: both;
    text-align: center;
    padding-top: 10px;
    font-size: 20pt;
    font-family: 'Cabin Sketch', cursive;
  }
  .btn{
    border: 1px solid black;
    padding: 1em;
    display: grid;
    text-align: center;
    text-decoration: none;
    font-size: 14pt;
  }
  .btn:active {
    background-color: black;
    color: white;
   }
  .btn:visited{
    color: white;
  }

  .keyboard{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 40px);
    border-radius: 6px;
    padding: 30px;
    background-color: lightgrey;
    margin: auto;
  }
  .letter{
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    background: black;
    color: white;
    /*font-family: 'Indie Flower', cursive;*/
  }
  .reset{
    font-family: 'Cabin Sketch', cursive;
    font-size: 14pt;
    letter-spacing: 1px;
  }
  .letter:hover{
    background: #333333;
  }
  .letter:active{
    background: #333333;
  }

  #the-word{
    letter-spacing: 5px;
    font-size: 20pt;
    font-family: 'Cabin Sketch', cursive;
  }

  .hidden{
   visibility: hidden;
  }
  .hide {
    visibility: hidden;
  }
