@import url('https://fonts.googleapis.com/css?family=Londrina+Sketch');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: linear-gradient(to left, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wrapper {
  display: grid;
  grid-template-rows: 300px repeat(auto-fill, 100px)300px;
  width: 100vw;
  grid-gap: .5em;
  padding: 5px;
}

.container-one {
  display: grid;
  /*background: lightgrey;*/
  grid-template-columns: repeat(2, 1fr);
  grid-gap: .5em;
  height: 200px;
}

.box {
  display: grid;
  /*background: grey;*/
  grid-template-columns: repeat(3, 1fr);
  grid-gap: .5em;
}

.full-width {
  grid-column: 1 / -1;
  text-align: center;
  padding-top: 25px;
  margin-bottom: 10px;
  font-size: 18pt;
  font-family: 'Bungee Hairline', cursive;
}

.title {
  font-family: 'Londrina Sketch', cursive;
  font-size: 1.2em;
}

#currentTheme{
  font-family: 'Londrina Sketch', cursive;
  font-size: 14pt;
  letter-spacing: 1px;
  margin-left: 10px;
}

.themes {
  padding-top: 50px;
  font-size: 19pt;
  font-family: 'Bungee Hairline', cursive;
  width: 200px;
  text-align: center;
}

.theme-choice {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: .5em;
  padding: 1px;
  width: 650px;
  margin: auto;
}

.btn {
  border: 1px solid black;
  padding: 1em;
  display: grid;
  text-align: center;
  text-decoration: none;
  font-size: 14pt;
}

.btn:active {
  background-color: black;
  color: white;
}

.btn:visited {
  color: white;
}

.container-two {
  display: grid;
  /*     background: lightgrey; */
  grid-template-columns: repeat(3, 1fr);
  grid-gap: .5em;
  height: 380px;
  margin-top: 10px;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 40px);
  border-radius: 6px;
  padding: 30px;
  background-color: lightgrey;
  margin: auto;
}
#middle {
  letter-spacing: 6px;
  font-size: 20pt;
  font-family: 'Bungee Hairline', cursive;
  text-align: center;
  margin-top: 20px;
  height: 280px;
  width: 300px;
  margin-left: 40px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate {
  animation: fadein 2s;
}

.letter {
  border: 1px solid black;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  font-size: 10pt;
  background: black;
  color: white;
  font-family: 'Bungee Hairline', cursive;
}

.letter:hover {
  background: #333333;
}

.letter:active {
  background: #333333;
}

#theword {
  letter-spacing: 6px;
  font-size: 20pt;
  font-family: 'Londrina Sketch', cursive;
}

.reset {
  font-family: 'Bungee Hairline', cursive;
  font-size: 14pt;
  letter-spacing: 1px;
}

.hidden {
  visibility: hidden;
}

.hide {
  visibility: hidden;
}

/*.email{
  font-size: 10pt;
  font-family: 'Mallanna', sans-serif;
}*/

#himym {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16pt;
  text-shadow: 1px 2px 3px #666;
}

#office {
  font-family: 'Inconsolata', monospace;
  font-size: 20pt;
  text-shadow: 1px 2px 3px #666;
}

#friends {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 14pt;
  text-shadow: 1px 2px 3px #666;
}

#got {
  font-family: 'Cormorant', cursive;
  font-size: 16pt;
  text-shadow: 1px 2px 3px #666;
}

#bigmouth {
  font-family: 'Slackey', cursive;
  font-size: 16pt;
  text-shadow: 1px 2px 3px #666;
}

#thisIsUs {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16pt;
  text-shadow: 1px 2px 3px #666;
}
